* {
  margin: 20px;
  padding: 0vw;
  box-sizing: border-box;
}

body {
  /* background-color: #000;
  color: #fff; */
  background-color: #dddddd;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-areas:
    'header-left header-left header-left'
    'menu-body main-menu header-right'
    'menu-body notes notes'; */
  grid-gap: 10px;
}

/* Grid Areas Defined */

.header-left {
  grid-area: header-left;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}
.menu-body {
  padding-top: 100px;
  grid-area: menu-body;
  grid-column: 1/ 2;
  grid-row: 2/ 3;
}
.main-menu {
  grid-area: main-menu;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
.header-right {
  grid-area: header-right;
}
.notes {
  grid-area: notes;
}

/*Grid Area Styling  */

.header-left h2 {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'Questrial', sans-serif;
  font-weight: bolder;
  margin: 0;
  padding: 0;
}

.header-left p {
  font-family: 'IBM Plex Mono', monospace;
  /* font-style: italic; */
  font-size: 14px;
  margin: 2px 0 0 0;
  padding: 0 0 0 0;
}

.menu-body p {
  font-family: 'IBM Plex Mono', monospace;

  font-size: 14px;
  line-height: 20px;
  margin: 10px 0 0 0;
  padding: 0 0 0 0;
}

.menu-body a {
  font-family: 'IBM Plex Mono', monospace;
  /* font-style: italic; */
  color: black;
  text-decoration: underline;
  font-size: 14px;
  line-height: 20px;
  margin: 10px 0 0 0;
  padding: 0 0 0 0;
}
